# Project exclude paths
/frontend/dist/

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp
.pnp.js


# IDE files
.idea/
.vscode/
*.swp
*.swo

# Build files
dist/
build/
node_modules
